.searchBox{
	margin-top: 30px;
	margin-bottom: 20px;
	width: 50%;
}

.searchArtistForm{
	text-align: center;
}

.valence{
	margin-top: 100px;
	text-align: center;
}

.smallHeart{
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}

.searchButton{
	margin-bottom: 30px;
}

.heartContainer{
	display: inline-block;
}
